<%= content_for(:title, "Edit Line | Bus Timetable") %>

<h1>Edit Line</h1>

<%= render 'form' %>


<br>
<br>
<p><a href="/lines">Return to Lines</a></p>
<p><a href="/stations">Go to Stations</a></p>

