<h1>Bus Stations</h1>

<ul>
   <% @stations.each do |station| %>
    <li><a href="/stations/<%= station.id %>"><%= station.name %></a></li>
    <% end %>
</ul>

<p><%= link_to "Add a New Line", new_line_path, :class=> "btn btn-default" %></p>

<br>
<br>
<p><a href="/lines">Return to Lines</a></p>

