<%= content_for(:title, "Show Station | Bus Stations") %>

<h1><%= @station.name %></h1>

<p><%= link_to "Edit Station", edit_station_path(@station), :class=> "btn btn-default" %></p>

<p><%= link_to "Delete", station_path(@station),
                          :confirm => "Are You Sure?",
                          :method => "delete",
                          :class => "btn btn-danger"%></p>


<br>
<br>
<p><a href="/lines">Return to Lines</a></p>
<p><a href="/stations">Go to Stations</a></p>
